body {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

img {
    width: 65%;
}

button.btn.btn-primary {
    vertical-align: top;
}

.watch-button {
    background: none;
    cursor: pointer;
    color: orange;
    font-size: 33px;
    border: 0;
    width: 0;
}

button:focus {
    outline: 0;
}