body {
    padding: 10px;
}

.login-form, .register-form, .listing-form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.watch-button-form {
    right: 20%;
    position: absolute;
}

.mt-90 {
    margin-top: 90px;
}

.mt-10 {
    margin-top: 10px;
}

img {
    width: 65%;
}

button.btn.btn-primary {
    vertical-align: top;
}

.watch-button {
    background: none;
    cursor: pointer;
    color: orange;
    font-size: 33px;
    border: 0;
    width: 0;
    padding: 0;
}

button:focus {
    outline: 0;
}

a.btn.btn-primary {
    color: initial;
    background-color: initial;
    border: 0;
}

.listing {
    display: flex;
    border-right: lightgrey 1px solid;
}

.bid {
    display: flex;
    justify-content: space-between;
}

.price {
    font-weight: bold;
    color: orangered;
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: 900;
}

.listing-info {
    padding: 20px;
}

.error {
    padding: 0;
    list-style: none;
    color: orangered;
}

ul {
    padding: 0;
}

.close-button {
    width: 75px;
    border-radius: 0;
}