{% extends "auctions/layout.html" %}
{% block body %}
<div class="container-fluid">
    <h2>{{listing.title}}</h2>
    <p class="card-text"><small class="text-muted">{{listing.get_category_display}}</small></p>
    <div class="row">
        <div class="col-sm">
            <img src="{{listing.image_url}}"
                 alt="Image for {{listing.title}}">
            {% if request.user.is_authenticated %}
            <form action="{% url 'auctions:listing' listing.pk %}"
                  method="post">
                {% csrf_token %}

                {% if is_watched %}
                <button type="submit"
                        class="btn btn-primary"
                        value={{listing.pk}}
                        name={{listing.pk}}>Unwatch</button>
                {% else %}
                <button type="submit"
                        class="btn btn-warning"
                        value={{listing.pk}}
                        name={{listing.pk}}>Watch</button>
                {% endif %}
            </form> {% endif %}
        </div>
        <div class="col-sm">
            <h2>{{listing.price}}€</h2>
            <p>Starting bid: {{listing.starting_bid}}€</p>
            <p>Active: {{listing.active}}</p>
            <p>Description: {{listing.description}}</p>
            <div>
                {% for comment in comments %}
                <p>{{ comment.user }}: {{ comment.content }}</p>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}