{% extends "auctions/layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm listing">
            <div class="listing-info">
                <img src="{{listing.image_url}}"
                     alt="Image for {{listing.title}}">
                <p class="mt-3 mb-0 bold">Description:</p>
                <p>{{listing.description}}</p>
            </div>
            {% if request.user.is_authenticated and listing.active %}
            <form class="watch-button-form"
                  action="{% url 'auctions:listing' listing.pk %}"
                  method="post">
                {% csrf_token %}
                {% if is_watched %}
                <button class="watch-button"
                        type="submit"
                        value=watch
                        name=watch><i class="fa fa-star"></i></button>
                {% else %}
                <button class="watch-button"
                        type="submit"
                        value=watch
                        name=watch><i class="fa fa-star-o"></i></button>
                {% endif %}
            </form>
            {% endif %}
        </div>
        <div class="col-sm">
            <h2>{{listing.title}}</h2>
            <p class="card-text">
                <small class="text-muted">{{listing}}</small> |
                <small class="text-muted">Starting bid: {{listing.starting_bid}}€</small> |
                {% if listing.active %}
                <small class="bold text-primary">Active</small>
                {% else %}
                <small class="bold text-danger">Closed</small>
                {% endif %}
                </small>
            </p>
            <div class="bid">
                <h3>Current price:</h3>
                <h2 class="text-success bold">{{listing.price}}€</h2>
            </div>
            {% if request.user.is_authenticated and listing.active %}
            <form action="{% url 'auctions:listing' listing.pk %}"
                  method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control"
                           type="number"
                           name="bid"
                           placeholder="Bid">
                    <span class="input-group-prepend">
                        <input type="submit"
                               class="btn btn-primary" />
                    </span>
                </div>
            </form>
            {% endif %}
            {% if request.user.is_authenticated and listing.active and is_owner %}
            <form class="pull-right mt-5"
                  action="{% url 'auctions:listing' listing.pk %}"
                  method="post">
                {% csrf_token %}
                <span class="input-group-prepend">
                    <button class="btn btn-danger close-button"
                            type="submit"
                            name=close
                            class="btn btn-primary">Close</button>
                </span>

            </form>
            {% endif %}
            {% if messages %}
            <ul class="mt-10">
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR and message.extra_tags == 'bid' %}
                <li class="error">{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="col-sm">
            <div class="mt-90">
                <h3>Comments</h3>
                {% if request.user.is_authenticated and listing.active %}
                <form action="{% url 'auctions:listing' listing.pk %}"
                      method="post">
                    {% csrf_token %}
                    <div class="input-group add-comment-form">
                        <input class="form-control"
                               type="text"
                               name="comment"
                               placeholder="Add comment">
                        <span class="input-group-prepend">
                            <input type="submit"
                                   class="btn btn-primary" />
                        </span>
                    </div>
                    {% endif %}
                    {% if messages %}
                    <ul class="mt-10">
                        {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR and message.extra_tags == 'comment' %}
                        <li class="error">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="mt-3">
                        {% for comment in comments %}
                        <p><span class="bold">{{ comment.user }}:</span> {{ comment.content }}</p>
                        {% empty %}
                        <p>No comments yet.</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}