{% extends "auctions/layout.html" %}
{% block body %}
<div class="container-fluid">
    <h2>{{listing.title}}</h2>
    <p class="card-text">
        <small class="text-muted">{{listing.get_category_display}}</small> |
        <small class="text-muted">Starting bid: {{listing.starting_bid}}€</small> |
        <small class="text-muted">
            {% if listing.active %}
            Active
            {% else %}
            Closed
            {% endif %}
        </small>
    </p>
    <div class="row">
        <div class="col-sm">
            {% if request.user.is_authenticated %}
            <form action="{% url 'auctions:listing' listing.pk %}"
                  method="post">
                {% csrf_token %}

                {% if is_watched %}
                <button class="watch-button"
                        type="submit"
                        value=watch
                        name=watch><i class="fa fa-star-o"></i></button>
                {% else %}
                <button class="watch-button"
                        type="submit"
                        value=watch
                        name=watch><i class="fa fa-star"></i></button>
                {% endif %}
            </form> {% endif %}
            <img src="{{listing.image_url}}"
                 alt="Image for {{listing.title}}">
        </div>
        <div class="col-sm">
            <h2>{{listing.price}}€</h2>
            <p>Description: {{listing.description}}</p>
            <div>
                <h3>Comments</h3>
                {% for comment in comments %}
                <p>{{ comment.user }}: {{ comment.content }}</p>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm">
            {% if request.user.is_authenticated %}
            <form action="{% url 'auctions:listing' listing.pk %}"
                  method="post">
                {% csrf_token %}

                <input type="number"
                       name="bid"
                       placeholder="Bid">
                <input type="submit"
                       class="btn btn-warning" />
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}